.footer {
  background-color: var(--footer-background-color);

  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}

.footer__sections {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
  &:not(:last-child) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    flex-grow: 1;
    &:nth-child(2n) {
      margin-left: 70px;
      margin-right: 93px;
    }
  }
}

.footer__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--text-color-white);
  margin-bottom: 20px;
}
