.logo {
  color: var(--accent-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logo--light {
  color: var(--header-logo);
}

.logo--dark {
  color: var(--text-color-white);
}
