.section {
  @media (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section--no-padding-top {
  padding-top: 0;

  @media (max-width: 1199px) {
    display: none;
  }
}

.section--dark-bgc {
  background-color: var(--filters-btn-bgc);
}

.section__title {
  @media (min-width: 480px) {
  }
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 50px;
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
  }
}
