:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --text-color-white: #ffffff;
  --accent-color: #2196f3;
  --background-color: #e5e5e5;
  --footer-background-color: #2f303a;
  --filters-btn-bgc: #f5f4fa;
  --button-primary-hover: #188ce8;
  --footer-contacts: rgba(255, 255, 255, 0.6);
  --header-logo: #000000;
  --line-color: #ececec;
  --hero-bgc: #c4c4c4;
  --footer-socials-bgc: #44454e;
  --icons-color: #afb1b8;
}
